# Variables de entorno para Docker Compose

# UID y GID del usuario host (Para evitar bloqueos de permisos en storage)
UID=1001
GID=1001
COMPOSER_ALLOW_SUPERUSER=1

# Puerto para Apache de la aplicacion: catalogo_forms
HTTP_PORT=XXX

# Puerto para PHPMyAdmin de la aplicacion: catalogo_forms
PMA_PORT=XXX
# Puerto para PHPMyAdmin de la aplicacion: catalogo_forms_introducir
PMA_PORT_INTRODUCIR=XXX

# Puerto para Apache de la aplicacion: catalogo_forms_introducir
HTTP_PORT_INTRODUCIR=XXX

# Puerto para MySQL aplicacion: catalogo_forms
MYSQL_PORT=XXX

# Puerto para MySQL aplicacion: catalogo_forms_introducir
MYSQL_PORT_INTRODUCIR=XXX

# Datos de MySQL
DB_ROOT_PASSWORD=XXX
DB_DATABASE=XXX
DB_DATABASE2=XXX
DB_USER=XXX
DB_PASSWORD=XXX

APP_URL=http://XXX:${HTTP_PORT}
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=false
SESSION_DOMAIN=null
